body {
    position: absolute;
    margin: 0;
    top:0%;
    left: 0%;
    width: 100%;
    min-height: 100%;
    background-color: rgb(226, 226, 226);
    color:rgb(77, 77, 77);
    z-index: 1500;
    font-family: 'Arial Narrow Bold', sans-serif;
}

html {
    min-height: 100%;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(77, 77, 77);
}

.phantom_anchor {
    height: 0px;
    width: 0px;
}

/* to be responsible */
@media screen and (max-width: 1000px) {
    .pc {
        font-size: 0px;
        display: none;
    }
    .sp {font-size: 40px;}
    body {font-size: 40px;}
    .phantom_anchor {
        position: relative;
        top: -250px;
    }
}
@media screen and (min-width: 1000px) {
    .pc {font-size: 40px;}
    .sp {
        font-size: 0px;
        display: none;
    }
    body {font-size: 20px;}
    .phantom_anchor {
        position: relative;
        top: -60px;
    }
} 

