
.content{
    overflow-x: hidden;
    position: relative;
    z-index: 3000;
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content h1 {
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.feed{
    background-color: rgb(240, 240, 240);
    z-index: 3001;
    overflow-wrap: break-word;
}

/* to be responsible */
@media screen and (max-width: 1000px) {/* for smartphone */
    .content{
        margin-top: 270px;
        margin-bottom: 875px;
    }
    .feed{
        margin: 10px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
    }
}
@media screen and (min-width: 1000px) {/* for pc */
    .content{
        margin-top: 70px;
        margin-bottom: 320px;
    }
    .feed{
        width: auto;
        height: auto;
        margin: 5px;
        border-radius: 5px;
    }
} 
