body {
    height: 100%;
    align-items: center;
}

.wrapper{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3000;
}

.wrapper>ul>li>ul {
    display: flex;
    align-items: flex-end;
}
.wrapper>ul {
    margin-left: auto;
    margin-right: auto;
}

.page_name{
    color: hsl(0, 0%, 32%);
}

.headline a, .copy a{
    transition: all 0.3s 0s ease;
    color: hsl(0, 0%, 49%)
}

.copy {
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    background-color: hsl(0, 0%, 80%);
}

/* to be responsible */
@media screen and (max-width: 1000px) {/* for smartphone */
    #header_title div {
        font-size: 150px;
        font-weight: 460;
    }
    #header_title img {
        width: 300px;
    }

    .page_name{
        font-size: 50px;
        font-weight: 500;
    }

    .headline a{
        margin-left: 50px;
        font-size: 30px;
    }
    .copy>a{
        font-size: 30px;
    }

    a{
        border-radius: 5px;
        padding: 5px;
    }
}

@media screen and (min-width: 1000px) {/* for pc */
    #header_title div {
        font-size: 150px;
        font-weight: 460;
    }
    #header_title img {
        width: 300px;
    }

    .page_name{
        font-size: 50px;
        font-weight: 500;
    }

    .headline a,.copy>a{
        margin-left: 50px;
        font-size: 30px;
    }
    .copy{
        margin-top: 50px
    }
    .copy>a{
        font-size: 20px;
    }
    a{
        border-radius: 5px;
        padding: 3px;
    }
} 
